<tr>
  <td>{{prettyDate completed_at}}</td>
  <td>{{number}}</td>
  <td>{{state}}</td>
  <td>{{payment_state}}</td>
  <td>{{shipment_state}}</td>
  <td>{{email}}</td>
  <td>{{display_total}}</td>
</tr>